@using GwentApp.Models
@model GwentApp.Models.playerChoices
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("CreateDeck", "Setup"))
{
    <table class="table">
        @foreach (factionInfo faction in playerChoices.factionList)
        {

            <tr>
                <th>@Html.Label(faction.factionName) | @Html.Label(faction.factionAbbr)</th>
            </tr>
            <tr>
                <td style="font-style:italic">
                    @Html.Label(faction.factionPerk)
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                       @foreach (leaderInfo leader in playerChoices.leaderList)
                       {
                        @*<li style="@(leader.leaderFactionAbbr == faction.factionAbbr ? " background-color:#C27E3A" : "")">*@
                            @*if (leader.leaderFactionAbbr == faction.factionAbbr)
                            {
                               <li>
                                   @Html.Label(leader.leaderName) | @Html.Label(leader.leaderAbility)
                                   
                               </li>
                            }*@
                       }
                        @Html.DropDownListFor((m => m.selectedLeader.leaderName), playerChoices.ddLeaderList.FindAll(i => i.Value == faction.factionAbbr).Select(x => new SelectListItem { Value = x.Text, Text = x.Text }).ToList(), "")
                    </ul>
                </td>
            </tr>
        }
    </table>
    @*@Html.LabelFor(m => m.selectedFaction.factionName, "Pick a faction:");
    @Html.DropDownListFor(m => m.selectedFaction.factionName, Model.ddFactionList,"");<br />

    @Html.LabelFor(m => m.selectedLeader.leaderName, "Select your leader:");
    @Html.DropDownListFor((m => m.selectedLeader.leaderName), Model.ddLeaderList, "");<br />*@
    <input type="submit" value="Submit"/>
}


