@using GwentApp.Models;
@model GwentApp.Models.Player
@{
    ViewBag.Title = "ProcessIndexForm";
}

<h2>ProcessIndexFormView</h2>
<li>
    @Model.faction.factionName
</li>
<li>
    @Model.faction.factionAbbr
</li>
<li>
    @Model.leader.leaderName
</li>
<li>
    @Model.leader.leaderFaction
</li>
<li>
    @Model.leader.leaderAbility
</li>
@using (@Html.BeginForm("CreateDeck", "Setup"))
{
<input type="submit" value="Create Deck" />
}